@font-face {
  font-family: 'MJX_Math';
  src: url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Math-Italic.eot'); /* IE9 Compat Modes */
  src: url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Math-Italic.eot?iefix') format('eot'),
       url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Math-Italic.woff')  format('woff'),
       url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Math-Italic.otf')  format('opentype'),
       url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/svg/MathJax_Math-Italic.svg#MathJax_Math-Italic') format('svg');
}
@font-face {
  font-family: 'MJX_Main';
  src: url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot'); /* IE9 Compat Modes */
  src: url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/eot/MathJax_Main-Regular.eot?iefix') format('eot'),
       url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/woff/MathJax_Main-Regular.woff')  format('woff'),
       url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/otf/MathJax_Main-Regular.otf')  format('opentype'),
       url('http://cdn.mathjax.org/mathjax/latest/fonts/HTML-CSS/TeX/svg/MathJax_Main-Regular.svg#MathJax_Main-Regular') format('svg');
}


body,html{
	margin:10px;
	height:100%;
	color: #010b35;
}
a{color:#f05;}
a:hover, a:focus {
    color: #f05;
    text-decoration: underline;
}
p{
	line-height: 24px;
}
h4{
	margin-top: 30px;
}
.mtop15{margin-top:17px;}
.mbot20{margin-bottom: 20px;}
.larger{    
	font-size: 160%;
    font-weight: 500;
}
main{
	max-width: 1280px;
	margin:0 auto;
	min-height:100%;
    position:relative;
}
.main{
	padding:20px 0;
	padding-bottom:80px;
}
.nav a{
	display:block;
}
.home{
	width: 70%;
	margin:50px auto;
}
.graph-container{
	position: relative;
}
/* Scatterplots tooltips */
	.tooltip{
		position:absolute;
		text-align: center;
		width: 125px;
	    height: 75px;
	    padding: 4px;
		border-radius: 3px;
		background: #fff;
		border:1px solid #e0e0e0;
		box-shadow: 0 0 3px 0px rgba(0,0,0,.1);
		opacity:1;
		font-size: inherit;
	}
	.tooltip.hidden {
	    display: none;
	}
	.tooltip:after{
		content:"";
		position: absolute;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #fff;
		bottom:-10px;
		left:55px;
	}
	.tooltip:before{
		content:"";
		position: absolute;
		width: 0; 
		height: 0; 
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
		border-top: 11px solid #ccc;
		bottom:-11px;
		left:54px;
	}

/* Nodes tooltips */
	.tooltip.node_tip{
		width: 80px;
	    height: 50px;
	}
	.tooltip.node_tip:after{
		left:30px;
	}
	.tooltip.node_tip:before{
		left:29px;
	}

footer{
	margin-top: 50px;
	border-top: 1px solid #ddd;
	width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;
}
.mtop40{margin-top:40px;}
hr{border-top: 1px solid #ddd;}

.node{
	width:40px;
	height:40px;
	border-radius: 100%;
	background-color: #eee;
}
.subhead{
	font-size: 80%;
    font-style: oblique;

}
.section-label{
	font-family: MJX_Math;
	font-size: 110%;
	/*margin-top: 20px;*/
	border-bottom: 1px solid #ccc;
}
.sections-summary{
	font-family: MJX_Math;
	font-size: 100%;
	margin-top: 20px;
}
.mathy{
	font-family: MJX_Math;
}

.tick line, .tick path{
	stroke:#ccc;
}
.domain{
	stroke:#fff;
}
.tick text{
	fill:#666;
}
.data-point-0{
	fill: #fff;
    stroke: #666;
} 
.data-point-1{
	fill: red;
    stroke: red;
} 

.play-bar{
	background: #f05;
	min-height: 40px;
	box-shadow: 0 0 8px #ccc;
	border-bottom: 1px solid #ccc;
	margin:20px 0;
	text-align: center;
	
}
.play-bar span{
	cursor: pointer;
	vertical-align: middle;
}
.play-bar .material-icons{
	font-size: 40px;
	line-height: 50px;
	color:#fff;
    vertical-align: middle;
}

section.tab {
  display: none;
  padding: 0 0 0 15px;
  border: 1px solid #ddd;
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}

input.tab-state {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #787878;;
  border: 1px solid transparent;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input:checked + label {
  color: #010b35;
  border: 1px solid #ddd;
  border-top:3px solid #f05;
  border-bottom: 1px solid #fff;
}


#tab_1:checked ~ #content_1, 
#tab_2:checked ~ #content_2
{
  display: block;
}

.scatter-plot{
	position:relative;
}

